.skills {
    background-color:white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
    
}
.skills__logo{
    height: 6rem;
    
}
.skills__lista{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    width: 80%;
    height: auto;
}

.skills__item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size:2rem;
    
   
    background-color: #e16e17;
    height: 180px;
    margin: 0 10px;
    margin-top: 20px;
    border-radius: 5px;
    width: 15%; 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.skills__icon{
   margin-top: 15px;
}